[submodule "src/main/resources/bwfdm/sara/extractor/licensee/ruby"]
	path = src/main/resources/bwfdm/sara/extractor/licensee/ruby
	url = https://github.com/benbalter/licensee.git
[submodule "choosealicense"]
	path = choosealicense
	url = https://github.com/github/choosealicense.com.git
